body {
margin: 20px;
font-size: 12px;
}

h1 {
font-size: 21px;
}

h2 {
font-size: 18px;
}

h3 {
font-size: 15px;
}

.text-tengah, th, td  {
text-align:center;
}

.grid-1 {
width: 4.5%;
}

.grid-2 {
width: 5.5%;
}

.grid-3 {
width: 7.5%;
}

.grid-4 {
width: 14.5%;
}

.float-left {
float:left;
}

.float-right {
float:right;
}
