body {
	margin: 20px;
	font-size: 12px;
}

.center, .center th, .center td {
	text-align:center;
}

.grid-1 {
	width: 4.5%;
}

.grid-2 {
	width: 5.5%;
}

.grid-3 {
	width: 7.5%;
}

.grid-4 {
	width: 14.5%;
}

.float-left {
	float:left;
}

.float-right {
	float:right;
}

.margin-right-15px {
	margin-right: 15px;
}

.tulisan-gede {
	font-size:70px;
	background-color:yellow;
}

.clear-column {
	background-color: #fff;
}