<article class="article">
    <div class="panel panel-primary">
        <div class="panel-heading">Form Input Data Morbilitas</div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" name="myForm">
              <div class="form-group">
                <label class="col-sm-2 control-label">Nama Rumah Sakit</label>
                <div class="col-sm-3">
                  <input type="text" name="rumahSakit" ng-model="item.rumahSakit" class="form-control" placeholder="Nama Rumah Sakit">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">No Daftar Terperinci</label>
                <div class="col-sm-2">
                  <input type="text" name="noDaftar" ng-model="item.noDaftar" class="form-control" placeholder="No Daftar">
                </div>
              </div>
                <div class="panel panel-info">
                  <div class="panel-heading">Pasien Keluar (Hidup dan Mati) Menurut Golongan Umur</div>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-tengah">
                                <th class="col-sm-1">0 < 28 Hari</th>
                                <th class="col-sm-1">28 Hr - < 1 Thn</th>
                                <th class="col-sm-1">1 - 4 Thn</th>
                                <th class="col-sm-1">5 - 14 Thn</th>
                                <th class="col-sm-1">15 - 24 Thn</th>
                                <th class="col-sm-1">25 - 44 Thn</th>
                                <th class="col-sm-1">45 - 64 Thn</th>
                                <th class="col-sm-1">65 + Thn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="form-group">
                                    <input type="number" name="28hr" ng-model="item.28hr" class="form-control" min="0" placeholder="0" ng-model="value21" required> 
                                </td>
                                <td class="form-group">
                                    <input type="number" name="1thn" ng-model="item.1thn" class="form-control" min="0" placeholder="0" ng-model="value22" required> 
                                </td>
                                <td class="form-group">
                                    <input type="number" name="4thn" ng-model="item.4thn" class="form-control" min="0" placeholder="0" ng-model="value23" required> 
                                </td>
                                <td class="form-group">
                                    <input type="number" name="14thn" ng-model="item.14thn" class="form-control" min="0" placeholder="0" ng-model="value24" required> 
                                </td>
                                <td class="form-group">
                                    <input type="number" name="24thn" ng-model="item.24thn" class="form-control" min="0" placeholder="0" ng-model="value25" required> 
                                </td>
                                <td class="form-group">
                                    <input type="number" name="44thn" ng-model="item.44thn" class="form-control" min="0" placeholder="0" ng-model="value26" required> 
                                </td>
                                <td class="form-group">
                                    <input type="number" name="64thn" ng-model="item.64thn" class="form-control" min="0" placeholder="0" ng-model="value27" required> 
                                </td>
                                <td class="form-group">
                                    <input type="number" name="65plusThn" ng-model="item.65plusThn" class="form-control" min="0" placeholder="0" ng-model="value28" required> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-info">
                  <div class="panel-heading">Pasien (Hidup dan Mati) Menurut Jenis Kelamin</div>
                    <div class="panel-body">
                      <div class="form-group">
                        <label for="inputNumber1" class="col-sm-2 control-label">Laki-laki</label>
                        <div class="col-sm-2">
                          <input type="text" name="laki" ng-model="item.lakilaki" class="form-control" id="inputNumber1" placeholder="0">
                        </div>
                        <label for="inputNumber1" class="col-sm-2 control-label">Perempuan</label>
                        <div class="col-sm-2">
                          <input type="text" name="perempuan" ng-model="item.perempuan" class="form-control" id="inputNumber1" placeholder="0">
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputNumber1" class="col-sm-3 control-label">Jumlah Kasus Baru (13-14)</label>
                    <div class="col-sm-2">
                      <input type="text" name="jmlKasusBaru" ng-model="item.jmlKasusBaru" class="form-control" id="inputNumber1" placeholder="0">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputNumber1" class="col-sm-3 control-label">Jumlah Kunjungan</label>
                    <div class="col-sm-2">
                      <input type="text" name="jmlKunjungan" ng-model="item.jmlKunjungan" class="form-control" id="inputNumber1" placeholder="0">
                    </div>
                </div>
                <div class="form-group float-right">
                      <button ng-click="save()" class="btn btn-primary margin-right-15px">Submit</button>
                      <a href="#/" class="btn btn-default margin-right-15px">Cancel</a>
                </div>            
            </form>
        </div>
    </div>
</article>